/*Affects the whole page*/
body{
	background: #741e0d;
	font-family: 'Mystery Quest', cursive;
	text-align: center;
}

/*Game Main Title*/
#header{
	font-size: 75px;
	color: #ea950f;
	text-shadow: 2px 2px #741e0d;
	background-image: none;
	background-color: #ecc11d;
}

/*Panel Titles*/
#pTitle{
	font-size: 40px;
	color: #ea950f;
	text-shadow: 2px 2px #741e0d;
	background-color: #ecc11d;
}
.panel-heading{
	padding: 0;
}

/*Panel Content*/
.panel-body{
	font-size: 25px;
	background-color: #f2680f;
	color: #741e0d;
}

/*Rules*/
#list{
	background-color: #b2bb1c;
}

#compNumber, #playerNumber, #scores{
	font-size: 30px;
}

/*Button Gem Images*/
#btnImg{
	background-color: #b2bb1c;
	width: 120px;
	height: 120px;
}
.btn-default{
	padding: 0;
	margin: 79px 5px 79px 0px;

}
/*Scooby Doo and the Gang Image*/
#scooby{
	width: 500px;
	height: 350px;
}
/*Score Scooby Doo Image*/
#justScooby{
	float: left;
	width: 200px;
	height: 280px;
}